name: Test

on:
  push:
    paths:
      - .github/workflows/test.yaml
      - src/**
      - jest.config.json
      - package.json
      - rollup.config.js
      - tsconfig.json

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        react-version: [17, ""]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          npm config set legacy-peer-deps true
          npm install

      - name: Install react
        if: matrix.react-version
        run: npm install react@^${{ matrix.react-version }} react-dom@^${{ matrix.react-version }}

      # react 17.x support @testing-library/react up to version 12.x
      - name: Install @testing-library/react
        if: >-
          startsWith(matrix.react-version, '17')
        run: npm install @testing-library/react@^12

      - name: Test
        run: npm test

      - name: Build
        run: npm run build
